source https://api.nuget.org/v3/index.json

storage: none

nuget FSharp.Core
nuget Fable.Core
nuget Fable.I18Next
nuget Feliz.Bulma
nuget Feliz.Markdown
nuget Feliz.UseElmish
nuget FsToolkit.ErrorHandling
nuget Thoth.Json
nuget Fable.Form.Antidote ~> 2.0.6
nuget Fable.Form.Antidote.View ~> 2.0.6
nuget Antidote.Bindings ~> 2.0.6
nuget Antidote.FormStudioSpec ~> 2.0.6