source https://api.nuget.org/v3/index.json

storage: none

nuget FSharp.Core
nuget Fable.Core
nuget Fable.I18Next
nuget Feliz.Bulma
nuget Feliz.Markdown
nuget Feliz.UseElmish
nuget FsToolkit.ErrorHandling
nuget Thoth.Json
nuget Fable.Form.Antidote
nuget Antidote.Bindings 2.0.5

source /Users/luisfx/code/antidote-org/Fable.Form.Antidote.View/bin/Release
nuget Fable.Form.Antidote.View

source /Users/luisfx/code/antidote-org/Antidote.FormStudioSpec/bin/Release
nuget Antidote.FormStudioSpec