.step {
    // border: 2px dashed #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    width: 100%;
    // height: 130px;
    // font-size: x-large;
    // text-align: center;
    padding: 20px;
}
