.button-minimal {
    background: none;
    // border: 1px solid #636a96;
    border: none;
    border-radius: 3px;
    color: #636a96;
    cursor: pointer;
    font-size: 12px;
    font-weight: 700;
    transition: all 0.25s ease;
    line-height: 1rem;
    padding-left: 20px;
    padding-right: 20px;
    margin: 10px;
    height: 20px;

    &:hover {
        background: rgba(0, 0, 0, 0.05);
        color: #636a96;
        font-weight: 700;
        line-height: 1rem;
        padding-left: 10px;
        padding-right: 10px;
    }
}
