// Style the signature canvas to make it more visible

.signature-canvas {
    border-radius: 5px;
    border: 2px solid #F191AC;
    background-color: #f7f7f7; //var(--grey-lightest);
    // Required otherwise the canvas is a bit bigger
    // than the control element 🤷‍♂️
    // max-width: 50px;
}

.signature-field {
    display: flex;
    justify-content: center;
}
