.form-designer-container {
    display: grid;
    grid-template-columns: 200px 1fr 300px;
    gap: 1em;
    min-height: 80vh;

    &__component-list {
        border: 1px solid #dbdbdb;
    }

    &__designer {
        border: 1px solid #dbdbdb;
        padding: 1em;
    }

    &__property-editor {
        border: 1px solid #dbdbdb;
        padding: 1em;
    }
}
