.page-container {
    padding-top: 4rem;
    height: 100vh;
    display: grid;
    grid-column: 1;
    // Make the Logo and "Create account" sections have the same height
    // Make the form takes all the place its needs
    // or the same height as the Logo and "Create account" section
    // depending on which one is the required
    grid-template-rows: 1fr minmax(auto, 1fr) 1fr;
}

.form-container {
    // Make the form content vertically center
    // and push the forgot password link to the bottom is there are place
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    // Horizontally center the form
    padding: 0 10%;
}
