.toolbar-component {
    padding: auto;
}

.toolbar-component li {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;

}

// .toolbar-component :active {
//     background-color: #ccc;
// }

.step-delete {
    position: relative;
    left: -30px;
}



// .drag-hint {
//     background-color: #e427e1;
//     border: 4px solid #510bd3;
//     color: #ccc;
// }



.field-dragged-over {
    // border-radius: 5px;
    // border: 1.5px dashed #ccc;
    // padding: 5px;
    background-color: #ff9898;
}

.field-dragged-over::before {
    border-radius: 5px;
    // border: 1.5px dashed #ccc;
    padding: 5px;
    // background-color: #ff9898;
}

.field-toolbar-actions {
    position: absolute;
    //z-index: 9999;
    top: 10px;
    left: 30px;
    overflow: hidden;
}

// .button-minimal:active {
//     background-color: #c8ceed;
//     color: #fff;
//     transition: all .25s ease
// }

.toolbar-component-left {
    position: sticky;
    display: inline-block;
    vertical-align: top;
    max-height: 100vh;
    overflow-y: auto;
    width: 300px;
    top: 0;
    bottom: 0;
    padding: 10px;
    transition: all 0.3s ease-in-out;
}

.toolbar-component-left-hidden {
    opacity: 0;
    width: 0px;
    transform: translateX(-100%);
    transition: all 0.3s ease-in-out;
}

.toolbar-component-right {
    position: sticky;
    display: inline-block;
    vertical-align: top;
    max-height: 100vh;
    overflow-y: auto;
    width: 300px;
    top: 0;
    bottom: 0;
    padding: 10px;
    margin-top: 10px;
    //also animate the toolbar-component-right when shown
    opacity: 1;
}
//hide and animate the toolbar-component-right
.toolbar-component-right-hidden {
    opacity: 0;
    width: 0px;
    transform: translateX(100%);
    transition: all 0.3s ease-in-out;
}

.toolbar-panel {
    margin: 10px;
    border-bottom: none;

}

.toolbar-item {
    border: 2px dashed #ccc;
    border-color: transparent;
    border-radius: 5px;

}

.toolbar-item:hover {
    cursor: grab;
    border: 2px dashed #ccc;
    border-radius: 5px;
    background-color: #0089de !important;
    color: #ffffff;
    transition: all .20s ease;

    span  {
        color: #ffffff;

        i {
            color: #ffffff;
        }
    }
}
